@using PROYECTO_VERIS_MVC.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">

            @{
                // VARIABLE SESSION
                var IdUsuario = User.Identity.GetUserId();

                ApplicationDbContext db = new ApplicationDbContext();
                var usermanager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(db));
                var objUser = usermanager.FindById(IdUsuario);

                HttpContext.Current.Session["User"] = objUser;

                var nombre = objUser.UserName;
                var info = objUser.PhoneNumber;
                var id = objUser.Id
 
            }


            <li>
                @Html.ActionLink("\tHola " + nombre + "  !!!!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>


            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>


        </ul>
    }
}
else
{


        if (Convert.ToBoolean(ViewData["ShowAuthOptions"]))
        {
            <ul class="navbar-nav navbar-right">
                <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
                <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
            </ul>

        }
                        
}